@import 'settings.colors';
:host{
    display: block;
    &.ng-invalid:not(.ng-pristine){
        div{
            color: $errorTextColor;
            box-shadow: 0 1px 5px $errorBoxShadow;
        }
    }
    .char-counter{
        position: absolute;
        bottom: 15px;
        right: 15px;
        &--invalid{
            color: $errorTextColor;
        }
    }
}