$mainColor: #4527A0;
$mainColorBlunt: #d9d9d9;
$mainColorLight: #5e41cf;

$mainTextColor: #272727;
$errorTextColor: #f00101;
$darkSymbolColor: #333333;

$lightBackgroundColor: #f9f9f9;
$whiteColor: #ffffff;
$blackColor: #000000;


$errorBoxShadow: rgba(255, 0, 0, 0.59);
$lightDarkBoxShadow:  rgba(0, 0, 0, 0.19);
$darkBoxShadow: rgba(0, 0, 0, 0.23);
$posterActiveBoxShadow: rgba(0,0,0,0.25);